@model PlanningPoker.Models.Game

@{
    ViewData["Title"] = Model.Name + " - Host Lobby";
}

<div class="c-copy-box">
    <input type="text" value="@Url.Action("JoinGame", "Home", new { gameLink = Model.GameLink }, ViewContext.HttpContext.Request.Scheme)" class="c-copy-box__input" id="gameLinkInput" readonly />
    <button class="c-copy-box__button">
        <img src="~/img/icons/copy.svg" class="c-copy-box__button__icon" alt="Copy Icon" /><span>Copy</span>
    </button>
</div>

<div class="l-game">
    <div>
        <h2 id="waitingMessage" style="display: none;">Waiting for players...</h2>

        <div id="hostControls" style="display: none;">
            <form class="c-form" id="startRoundForm">
                <h3>Start Round:</h3>
                <div class="c-form-element">
                    <label class="u-sr-only">Round Name:</label>
                    <input class="c-text-input" type="text" id="roundNameInput" required />
                </div>
                <button class="c-button c-button--full-width" type="submit">Start Round</button>
            </form>

            <div class="c-form" id="endRoundSection" style="display: none;">
                <h3>End Round:</h3>
                <p>End the round to reveal the votes early.</p>
                <button class="c-button c-button--full-width" type="button" id="endRoundButton">End Round</button>
            </div>
        </div>
    </div>

    <div class="c-players-list" id="playerListSection" style="display: none;">
        <h3 class="c-players-list__header">Players:</h3>
        <ul class="c-players-list__list" id="playersList"></ul>
    </div>
</div>

<script src="~/dist/gameLobby.bundle.js"></script>