@{
    ViewData["Title"] = "Homepage";
}

<form class="c-form" asp-action="CreateGame" method="post">
    <h3>Create a new game</h3>

    <div class="c-form-element">
        <label class="u-sr-only">Game name</label>
        <input class="c-text-input" type="text" name="gameName" placeholder="Sprint 7..." required />
    </div>

    <button class="c-button c-button--full-width" type="submit">Create game</button>
</form>
