@model PlanningPoker.Models.Game

@{
    ViewData["Title"] = Model.Name;
}

<div class="c-copy-box">
    <input type="text" value="@Url.Action("JoinGame", "Home", new { gameLink = Model.GameLink }, ViewContext.HttpContext.Request.Scheme)" class="c-copy-box__input" id="gameLinkInput" readonly />
    <button class="c-copy-box__button">
        <img src="~/img/icons/copy.svg" class="c-copy-box__button__icon" alt="Copy Icon" /><span>Copy</span>
    </button>
</div>

<div class="l-game">
    <div>
        <form class="c-form" id="joinForm" style="display: none;">
            <h3>Join game</h3>
            <div class="c-form-element">
                <label class="u-sr-only">Your Name:</label>
                <input class="c-text-input" placeholder="John Doe..." type="text" id="playerName" required />
            </div>
            <button class="c-button c-button--full-width" type="submit">Join Game</button>
        </form>

        <div id="waitingSection" style="display: none;">
            <h3>Waiting for the host to start the round...</h3>
        </div>

        <div id="votingSection" style="display: none;">
            <h3><span id="roundName"></span></h3>
            <div class="c-card-grid" id="cards">
                <button class="c-card-button" data-card="1">1</button>
                <button class="c-card-button" data-card="2">2</button>
                <button class="c-card-button" data-card="3">3</button>
                <button class="c-card-button" data-card="5">5</button>
                <button class="c-card-button" data-card="8">8</button>
                <button class="c-card-button" data-card="13">13</button>
                <button class="c-card-button" data-card="20">20</button>
                <button class="c-card-button" data-card="coffee">Coffee</button>
            </div>
        </div>
    </div>

    <div class="c-players-list" id="playerListSection" style="display: none;">
        <h3 class="c-players-list__header">Players:</h3>
        <ul class="c-players-list__list" id="playersList">
        </ul>
    </div>
</div>

<script src="~/dist/joinGame.bundle.js"></script>