/PlanningPoker/obj
/PlanningPoker/.vs
/PlanningPoker/bin

/PlanningPoker.Data/obj
/PlanningPoker.Data/.vs
/PlanningPoker.Data/bin

/PlanningPoker.Interfaces/obj
/PlanningPoker.Interfaces/.vs
/PlanningPoker.Interfaces/bin

/PlanningPoker.Models/obj
/PlanningPoker.Models/.vs
/PlanningPoker.Models/bin

/PlanningPoker.Services/obj
/PlanningPoker.Services/.vs
/PlanningPoker.Services/bin

/PlanningPoker.Tests/obj
/PlanningPoker.Tests/.vs
/PlanningPoker.Tests/bin