<header class="c-header">
    <div class="c-header__logo">
        <a asp-asp-controller="Home" asp-action="Index">
            @* <img src="~/img/logo.svg" alt="Planning Poker Logo" /> *@
            <img src="~/img/logo-dark.svg" alt="Planning Poker Logo" />
        </a>
    </div>

    <nav class="c-header__content">
        <h1 class="c-header__title">@ViewData["Title"]</h1>
    </nav>
</header>