<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlanningPoker</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles.bundle.css" />
</head>
<body>
    @RenderBody()
     
    <script src="~/app.bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
