<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlanningPoker</title>
    <link rel="stylesheet" href="~/dist/styles.bundle.css" />
</head>
<body>
    <partial name="_Header" />

    <main class="l-main l-main--centered l-main--full-height">
        @RenderBody()
    </main>
     
    <script src="~/dist/app.bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
