.c-players-list {
	list-style: none;
	padding: 0;
	margin: 0;
	background: var(--color-input-background);
	border: 1px solid var(--color-input-border);
	border-radius: 20px;
	margin-top: 2rem;
	min-width: 360px;
	height: min-content;

	@include respond(phone) {
		min-width: 100%;
	}

	&-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 19px 20px;
		border-bottom: 1px solid var(--color-input-border);
		transition: background-color 0.3s ease;

		&:last-child {
			border-bottom: none;
		}

		&__name {
			color: var(--color-text-primary);
			font-size: 13px;
			font-weight: 500;
		}

		&__vote {
			background: var(--color-secondary);
			color: var(--color-text-secondary);
			font-size: 13px;
			font-weight: 500;
			padding: 5px 8px;
			border-radius: 4px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}

	&__header {
		border-radius: 20px 20px 0 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 19px 20px;
		background-color: var(--color-dark-background);
		color: var(--color-text-primary-dark);
		font-size: 15px;
		font-weight: 700;
		margin: 0;
	}
}
